/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: #2F3F56;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/* Estilos para el título */
.title {
    font-size: 80px;
    font-weight: bold;
}

.title img {
    vertical-align: middle;
}

/* Estilos para resaltar la palabra "Bank" */
.highlight {
    color: #FF873D;
}

/* Estilos para los botones "Registro", "Acceso" y "Menú" */
.buttons {
    display: flex;
    align-items: center;
}

.large-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.large-btn img {
    display: inline-block; /* Hace que la imagen sea un elemento en línea */
    vertical-align: middle; /* Centra verticalmente la imagen */
    margin-right: 5px; /* Espacio entre el icono y el texto */
    width: 23px;
}



.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para el menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    background-color: #2F3F56;
    position: absolute;
    top: 120px;
    right: 30px;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.menu-item {
    padding: 5px 0;
    color: white;
    font-size: 30px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.menu-item:hover {
    color: #FF873D;
}

/* Estilos para mostrar el menú cuando se activa la clase "show-menu" */
.show-menu {
    display: flex;
}




/* Estilos para la versión responsive */


@media only screen and (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center; /* Alinea los elementos al centro verticalmente */
        padding: 15px;
    }

    .title {
        font-size: 40px;
    }

    .title img {
        font-size: 40px;
    }

    .buttons {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap; /* Permite que los botones se ajusten al ancho disponible */
        justify-content: center; /* Alinea los botones al centro horizontalmente */
        flex-direction: column;
    }      

    .menu {
        top: 100px;
        top: 120px;
        right: 10px;
        width: 120px;
    }

    .large-btn {
        flex-direction: column; /* Cambia la dirección del botón a columnas */
        align-items: center; /* Centra horizontalmente el contenido */
        margin: 5px 0;
    }

    .large-btn img {
        margin-right: 0; /* Elimina el margen entre el icono y el texto */
        margin-bottom: 5px; /* Agrega un margen inferior entre el icono y el texto */
        width: 15px;
    }

    
}


