

/* Estilos para la versión responsive */

@media only screen and (max-width: 414px) {

    /* Estilos para la versión responsive pra index.html */

    .top-bar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    
    }

    body {
        background-image: url("../image/fondoTlf.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        }

    .left-image {
        width: 150px; 
        top: 360px; 
        left: 25px;
    }
    
    .right-image {
        width: 150px; 
        top: 360px; 
        right: 25px;
    }

    .title {
        font-size: 40px;
    }

    .title img {
        font-size: 40px;
    }

    .buttons {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .large-btn {
        margin: 5px;
    }

    .menu {
        top: 120px;
        right: 10px;
        width: 120px;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        padding: 5px 10px;
        font-size: 16px; 
    }

    .menu-item::before {
        content: "\2022"; 
        margin-right: 5px;
        font-size: 20px; 
    }

    .large-btn img {
        width: 15px;
    }

    .bottom-text {
        margin-top: 15px;
        text-align: center;
    }

    .highlight-text {
        width: 100%;
        margin: 1px auto;
        font-size: 12px;
    }

    /* Ajustes para la versión responsive de login.html */

    .login-container {
        text-align: center;
        margin-top: 20px;
    }

    /* Ajusta el tamaño del título */
    .login-container h2 {
        font-size: 24px;
    }

    /* Ajusta el tamaño de fuente de las etiquetas "Usuario," "Cedula/DNI," y "Contraseña" */
    .login-container label {
        font-size: 10px;
    }

    /* Ajusta el tamaño de fuente y el espacio del enlace "¿Olvidaste tu contraseña?" */
    .login-container p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0%;
    }

    .login-container  {
        font-size: 10px;
        margin-top: 8px;
        margin-left: 0px;
    }

    .login-background {
        background-image: url("../image/fondo2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 414px;
        
    }
    .login-form input {
        width: 70%;
        align-items: left;
    }




}
