

/* Estilos para la versión responsive */

@media only screen and (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    body {
        background-image: url("../image/fondoTlf.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }

    .left-image {
        width: 150px; 
        top: 350px; 
        left: 25px;
    }
    
    .right-image {
        width: 150px; 
        top: 350px; 
        right: 25px;
    }

    .title {
        font-size: 40px;
    }

    .title img {
        font-size: 40px;
    }

    .buttons {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .large-btn {
        margin: 5px;
    }

    .menu {
        top: 120px;
        right: 10px;
        width: 120px;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        padding: 5px 10px;
        font-size: 16px; 
    }

    .menu-item::before {
        content: "\2022"; 
        margin-right: 5px;
        font-size: 20px; 
    }

    .large-btn img {
        width: 15px;
    }

    .bottom-text {
        margin-top: 10px;
        text-align: center;
    }

    .highlight-text {
        width: 60%;
        margin: 8px auto;
        font-size: 20px;
    }

    /* Estilos responsive para la página de inicio de sesión */
    .login-container h2 {
        font-size: 24px;
    }
    
    .login-form {
        max-width: 300px;
    }
}


/* Estilos para las opciones de pago */
.service-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.service-option img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

/* Estilos para los resultados de los pagos */
.payment-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 100px; /* Ajusta la altura mínima según tus necesidades */
}

.payment-results p {
    font-size: 18px;
    color: #333;
}



