/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para el cuadro de mensaje */
#message-box {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(47, 63, 86, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}


.left-image {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    width: 500px;
}

.right-image {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    width: 500px;
}

a.large-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

a.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: #2F3F56;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


/* Estilos para el título */
.title {
    font-size: 80px;
    font-weight: bold;
}

.title img {
    vertical-align: middle;
    width: 150px;
    
}

/* Estilos para resaltar la palabra "Bank" */
.highlight {
    color: #FF873D;
}

/* Estilos para los botones "Registro", "Acceso" y "Menú" */
.buttons {
    display: flex;
    align-items: center;
}

.large-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

.large-btn img {
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 5px; 
    width: 23px;
}



.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para el menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    background-color: #2F3F56;
    position: absolute;
    top: 120px;
    right: 30px;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.menu-item {
    padding: 5px 0;
    color: white;
    font-size: 30px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.menu-item:hover {
    color: #FF873D;
}

/* Estilos para mostrar el menú cuando se activa la clase "show-menu" */
.show-menu {
    display: flex;
}

.bottom-text {
    position: absolute;
    bottom: 30px;
    left: 45px;
    width: 35%;
    background-color: #FF873D;
    padding: 65px;
    text-align: center;
}

.highlight-text {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* Estilos para la página de inicio de sesión */

.login-background {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-left: 170px;
    
}

.login-container h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -700px;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}


.login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
}

#login-btn {
    background-color: #FF873D;
    border-color: #FF873D;
}

#login-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/* Estilos para el enlace "¿Olvidaste o bloqueaste tu contraseña?" */
.login-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff873d6e;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.login-container a:hover {
    background-color: #ff6a00b0;
}

/* REGISTER Estilos para la pagina de registro y crear cuenta*/
/*fondo*/

.register-background {
    margin:0;
    padding:0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.register-titles{
    margin-top: 40px;
    margin-left: 250px;
}

.register-container {
    text-align: center;
    margin-top: 15px;
    margin-left: 180px; 
    width: 400px;  
}

/*para el formulario*/

.register-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin-top: 3px;
}

.form1_label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-size: 20px;
}

.form1-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.group-form1-input {
	position: relative;
}

/*estilo del mensaje chiquito para no dejar campos vacios*/

.form1-input-error {
	font-size: 15px;
	margin-bottom: 5;
	display: none;
    text-align: left;
}

/*bloquear el mensaje para que aparesca solo cuando se llame*/

.form1-input-error-activo {
	display: block;
}

/*dibujito del validar palomita*/

.form1-valid {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/*estilo del mensaje:rellena....*/
.form1-message {
    height: 45px;
	line-height: 45px;
	background: #f08888;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form1-message-activo {
    display: block;
}

.form1-message p {
    margin: 0;
}

/*botones inferiores de registrar y cancelar*/

#register-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#register-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

#cancel-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#cancel-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}


/*estilos para validacion*/

.group-form1-correct .form1-valid{
    color: #1ed12d;
    opacity: 1;
}

.group-form1-correct .form1-input{
    border: 3px solid #1ed12d;
}

.group-form1-incorrect .form1-valid{
    color:#bb2929;
    opacity: 1;
}

.group-form1-incorrect .form1-input{
    border: 3px solid #bb2929;
}



.register-notification {
    position: absolute;
    bottom: 20px;
    left: 800px;
    width: 25%;
    background-color: #FF873D;
    padding: 65px;
    text-align: center;
}

.highlight-text {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0;
}


/*Estilos para mainAccount*/

.custom-main-body {
    background-color: #2F3F56; /* Cambia este color al que deseas */
    margin: 0;
    padding: 0;
}

/* Estilos para la nueva barra naranja rectangular */

.vertical-orange-bar {
    background-color: #FF873D;
    width: 300px;
    height: 150%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 150px; 
    height: auto;
    margin-right: 10px; 
    margin-top:-750px;
}

/* Estilos para los nuevos botones en la barra vertical */
.vertical-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 65px; 
}

.vertical-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
    text-align: center; 
    width: 180px; 
    margin: 5px auto;
}

.vertical-btn:hover {
    background-color: #FF873D;
    color: white;
    border-color: white;
}




/* Estilos para el botón de cerrar sesión */
.logout-button {
    position: fixed;
    bottom: 20px;
    right: 65px;
    z-index: 1;
}

#logout-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #FF873D;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#logout-btn:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}


/* Mostrar las opciones secundarias al hacer hover sobre el botón */
.horizontal-options:hover .sub-options {
    display: flex;
    top: 50px;
}


.horizontal-orange-bar {
    background-color: #FF873D;
    height: 70px;
    width: 80%;
    position: absolute;
    top: 180px; 
    left: 0;
}

/* Estilos para la barra horizontal */
.horizontal-orange-bar {
    background-color: #FF873D;
    height: 70px;
    width: 78%;
    position: absolute;
    top: 180px; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilos para los botones de opciones horizontales */
.horizontal-btn {
    font-size: 24px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #FF873D;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;   
    
}

.horizontal-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para las opciones secundarias */
.sub-options {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #e06f28;
    width: 250px;
    padding: 25 px;
    z-index: 1;   
    border-radius: 5px; 
    margin-top: 10px;
}

.sub-options a {
    color: white; 
    font-size: 23px; 
    padding: 8px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.sub-options a:hover {
    color: #2F3F56;
}

.horizontal-icon {
    width: 35px; 
}



/* Estilos para el elemento "Saldo" en la parte inferior izquierda */
.balance-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 70px;
    color: white;
}

.user-text1 {
    position: absolute;
    bottom: 270px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    color: white;
    text-align: center;
}

/* Estilos para html movimientos de cuentas */

.logout-button-sup {
    position: fixed;
    top: 20px; 
    right: 65px;
    z-index: 1;
}

#logout-btn-sup {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #FF873D;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#logout-btn-sup:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}

/* Estilos para el botón "Menú Principal" y "Cerrar Sesión" en la esquina superior izquierda */
.menu-p-button {
    position: absolute;
    top: 20px;
    left: 20px; 
    z-index: 1;
}

#menu-p-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2F3F56;
    color: #ffffff;
    border: 2px solid #2F3F56;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#menu-p-btn:hover {
    background-color: #2F3F56;
    border-color: #ffffff;
}

.user-icon-white {
    width: 100px; 
    height: auto;
    position: absolute;
    top: 6%; 
    right: 300px;
    z-index: 1;
}

.divider {
    width: 2px;
    height: 50px; 
    background-color: white; 
    margin: 10px 10px;
    display: inline-block;
    vertical-align: middle;
    content: "";
}

.consultation-title {
    text-align: left;
    padding-top: 70px; 
    padding-left: 20px;
    color: #ffffff;
    border-bottom: 2px solid #FF873D; 
}

.consultation-title h1 {
    color: white;
    font-size: 30px;
}

/* Estilos para el formulario y la consulta de movimientos */

.search-form {
    margin-top: 20px;
    text-align: center;
}

.search-form label {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

.search-form input[type="radio"] {
    vertical-align: middle; 
}

.search-form input[type="date"] {
    font-size: 16px;
    padding: 5px;
}

.search-form button[type="submit"] {
    background-color: #FF873D;
    color: white;
    border: 2px solid #FF873D; 
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.search-form button[type="submit"]:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}

.date-container {
    display: inline-block;
    margin-left: 20px;
}


/*estilos para registerUser*/
/*ESTILOS DEL REGISTERUSER para el formulario de crear usuario y contrseña*/

.registerUser-background {
    margin:0;
    padding:0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.registerUser-titles{
    margin-top: 40px;
    margin-left: 200px;
}

.registerUser-container {
    text-align: center;
    margin-top: 25px;
    margin-left: 180px; 
    width: 400px;  
}

.registerUser-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 430px;
    margin-top: 2px;
}

/*estilo de la etiqueta*/

.form_label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-size: 20px;
}

/*estilos de las cajitas input*/

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

.group-form-input {
	position: relative;
}

/*estilo del mensaje de error y condiciones como debe crear cont*/

.form-input-error {
	font-size: 12px;
	margin-bottom: 2;
	display: none;
    text-align: left;
}

/*bloquear el mensaje para que aparesca solo cuando se llame*/

.form-input-error-activo {
	display: block;
}

/*validar*/

.form-valid {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/*estilo del mensaje:rellena....*/
.form-message {
    height: 45px;
	line-height: 45px;
	background: #f08888;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form-message-activo {
    display: block;
}

.form-message p {
    margin: 0;
}

/*estilo botones de crear cuenta y cancelar*/

#form-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#form-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

#form-canc-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#form-canc-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/*mensaje exitosamente*/

.form-message-exito {
    font-size: 14px;
	color: #119200;
	display: none;
}

.form-message-exito-activo {
    display: block;
}

/*estilos para validacion*/

.group-form-correct .form-valid{
    color: #1ed12d;
    opacity: 1;
}

.group-form-incorrect .form-valid{
    color:#bb2929;
    opacity: 1;
}

.group-form-incorrect .form-input{
    border: 3px solid #bb2929;
}


/*Estilos para accountStatus*/

.center-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos para el selector de mes */
.month-chooser {
    margin-bottom: 20px;
}

.month-chooser label {
    font-size: 23px;
    color: white;
}

.month-chooser select {
    font-size: 16px;
    padding: 5px;
}

/* Estilos para el botón Generar */
.generate-button {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button:hover {
    background-color: #2F3F56;
}

/* Estilos para el icono de PDF */
.pdf-icon img {
    width: 80px;
    margin-top: 10px;
}

/* Estilos para los botones Descargar e Imprimir */
.download-button,
.print-button {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    margin-right: 10px; 
}

.download-button:hover,
.print-button:hover {
    background-color: #2F3F56;
}

/* Estilos para la selección de cuenta */
.select-account {
    text-align: center;
    margin: 20px auto;
}

.select-account p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.select-account select {
    font-size: 16px;
    padding: 5px;
}

/* Estilos para el formulario de solicitud */
.request-form {
    text-align: center;
    margin: 20px auto;
}

.request-form label {
    font-size: 18px;
    color: white;
    display: block;
    margin-bottom: 5px;
}

.request-form textarea {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.submit-button {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #2F3F56;
}

/*Estilos para tdcInquiry*/

.tdc-inquiry-section {
    text-align: center;
    margin-top: 20px;
}

.tdc-inquiry-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.tdc-inquiry-section select {
    font-size: 16px;
    padding: 5px;
}

.generate-button {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.generate-button:hover {
    background-color: #2F3F56;
}

.tdc-results {
    margin-top: 20px;
    /* Estilos para los resultados de la consulta */
}


/*estilos para principal de TRANSFERS1*/

/* Estilos para opciones Transf nac e internacional */

.main-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff873d6e;
    color: white; /* Cambia el color del texto a blanco */ 
    font-size: 23px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
}

.main-content a:hover {
    background-color: #ff6a00b0;
}

/*ESTILOS TRANSF NACIONALES*/


.main-content h3{
    margin-top: 20px;
    margin-left: 270px;
    color: white
}

/*formulario TRANSF beneficiario*/

.form-transfBen{
    background-color: #ff873d6e;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 470px;
    margin-top: 3px;
    margin-left: 150px;
}

.formlabel {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-size: 20px;
}

.forminput {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*botones de abajo del formulario del beneficiario de cance y acep*/

#conti-btn {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#conti-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

#cancelar-btn {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#cancelar-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/*clave especial*/

.formclaves{
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin-top: 3px;
    margin-left: 150px;
}


.form1label {
    align-content: center;
    margin-bottom: 2px;
    text-align: left;
    font-size: 30px;
    color: white;
}

.form1input {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*estilo del mensajito de error*/

.formclave-message {
    height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 3px;
    display: none;
}

.formclave-message-activo {
    display: block;
}

.formclave-message p {
    margin: 0;
}

/*boton confirmar*/

.conf-btn {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

/*TRANSF NAC REALIZADA EXITOSAMENTE*/

.group-comp {
    background-color: #ff873d4d;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin: center;
    margin-left: 150px;
    margin-top: 10px;
}

.group-comp p {
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

/* Estilos para el icono de PDF */
.pdf-iicon img {
    width: 80px;
    margin-top: 2px;
}

.save-btn,
.regist-btn {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    margin-right: 10px; 
}

.save-btn:hover,
.regist-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/* Estilos para el contenedor de los botones */
.service-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: 20px; /* Espacio entre los botones */
}

/* Estilos para cada botón de búsqueda */
.service-button {
    background-color: #FF873D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50;
    display: flex;
    align-items: center;
}

/* Estilos para el efecto hover */
.service-button:hover {
    background-color: #2F3F56;
}

/* Estilos para las imágenes con la clase "image-service" */
.image-service {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}


/*ESTILOS DE PAGO DE TELEFONIA*/ 

.phone-service-options {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: 0 10px; 
    background-color: #2F3F56; 
    padding: 10px;
    border-radius: 5px;
    text-align: center; 
}

/* Estilos para los subtítulos */
.phone-service-options h2 {
    margin-top: 0;
    background-color: #FF873D; 
    padding: 5px 10px; 
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px; 
}

/* Estilos para las opciones de servicio */
.phone-service-option {
    background-color: #FF873D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; 
}

/* Estilos para las imágenes de las opciones */
.phone-service-options label {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 75px;
}

.phone-service-options img {
    max-width: 50px;
    height: auto;
    margin-bottom: 5px; 
}

/* Estilos para los radio buttons ocultos */
.phone-service-option input[type="radio"] {
    display: none;
}

/* Estilos para el radio button seleccionado */
.phone-service-option input[type="radio"]:checked + label {
    background-color: #2F3F56;
}



/* Estilos para el formulario de pago */
.payment-form {
    margin-top: 20px;
    padding: 15px; /* Agrega un poco de espacio alrededor del formulario */
    max-width: 300px; /* Define el ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.payment-form label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Cambia el color del texto a blanco */
}

.payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Aumenta el tamaño de la fuente de los campos de entrada */
}

/* Estilos para los botones */
.accept-button {
    background-color: #FF873D;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    float: left; /* Alinear a la izquierda */
}

.cancel-button {
    background-color: #FF873D;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Alinear a la derecha */
}

.accept-button:hover, .cancel-button:hover {
    background-color: #2F3F56;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
