/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para el cuadro de mensaje */
#message-box {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(47, 63, 86, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}


.left-image {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    width: 500px;
}

.right-image {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    width: 500px;
}

a.large-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

a.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: #2F3F56;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


/* Estilos para el título */
.title {
    font-size: 80px;
    font-weight: bold;
}

.title img {
    vertical-align: middle;
    width: 150px;
    
}

/* Estilos para resaltar la palabra "Bank" */
.highlight {
    color: #FF873D;
}

/* Estilos para los botones "Registro", "Acceso" y "Menú" */
.buttons {
    display: flex;
    align-items: center;
}

.large-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

.large-btn img {
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 5px; 
    width: 23px;
}



.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para el menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    background-color: #2F3F56;
    position: absolute;
    top: 120px;
    right: 30px;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.menu-item {
    padding: 5px 0;
    color: white;
    font-size: 30px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.menu-item:hover {
    color: #FF873D;
}

/* Estilos para mostrar el menú cuando se activa la clase "show-menu" */
.show-menu {
    display: flex;
}

.bottom-text {
    position: absolute;
    bottom: 30px;
    left: 45px;
    width: 35%;
    background-color: #FF873D;
    padding: 65px;
    text-align: center;
}

.highlight-text {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* Estilos para la página de inicio de sesión */

.login-background {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-left: 170px;
    
}

.login-container h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -700px;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}


.login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
}

#login-btn {
    background-color: #FF873D;
    border-color: #FF873D;
}

#login-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/* Estilos para el enlace "¿Olvidaste o bloqueaste tu contraseña?" */
.login-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff873d6e;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.login-container a:hover {
    background-color: #ff6a00b0;
}

/* Estilos para la pagina de registro y crear cuenta*/
/*fondo*/

.register-background {
    margin:0;
    padding:0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.register-titles{
    margin-top: 40px;
    margin-left: 250px;
}

.register-container {
    text-align: center;
    margin-top: 25px;
    margin-left: 180px; 
    width: 400px;  
}

/*para el formulario*/

.register-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin-top: 3px;
}

.register-form label {
    display: block;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
}

.register-form input {
    width: 70%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*botones inferiores de registrar y cancelar*/

#register-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#register-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

#cancel-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#cancel-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

.register-notification {
    position: absolute;
    bottom: 20px;
    left: 800px;
    width: 25%;
    background-color: #FF873D;
    padding: 65px;
    text-align: center;
}

.highlight-text {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0;
}


/*Estilos para mainAccount*/

.custom-main-body {
    background-color: #2F3F56; /* Cambia este color al que deseas */
    margin: 0;
    padding: 0;
}

/* Estilos para la nueva barra naranja rectangular */

.vertical-orange-bar {
    background-color: #FF873D;
    width: 300px;
    height: 150%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 150px; 
    height: auto;
    margin-right: 10px; 
    margin-top:-750px;
}

/* Estilos para los nuevos botones en la barra vertical */
.vertical-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 65px; 
}

.vertical-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
    text-align: center; 
    width: 180px; 
    margin: 5px auto;
}

.vertical-btn:hover {
    background-color: #FF873D;
    color: white;
    border-color: white;
}




/* Estilos para el botón de cerrar sesión */
.logout-button {
    position: fixed;
    bottom: 20px;
    right: 65px;
    z-index: 1;
}

#logout-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #FF873D;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#logout-btn:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}


/* Mostrar las opciones secundarias al hacer hover sobre el botón */
.horizontal-options:hover .sub-options {
    display: flex;
    top: 50px;
}


.horizontal-orange-bar {
    background-color: #FF873D;
    height: 70px;
    width: 80%;
    position: absolute;
    top: 180px; 
    left: 0;
}

/* Estilos para la barra horizontal */
.horizontal-orange-bar {
    background-color: #FF873D;
    height: 70px;
    width: 78%;
    position: absolute;
    top: 180px; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilos para los botones de opciones horizontales */
.horizontal-btn {
    font-size: 24px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #FF873D;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;   
    
}

.horizontal-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para las opciones secundarias */
.sub-options {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #e06f28;
    width: 250px;
    padding: 25 px;
    z-index: 1;   
    border-radius: 5px; 
    margin-top: 10px;
}

.sub-options a {
    color: white; 
    font-size: 23px; 
    padding: 8px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.sub-options a:hover {
    color: #2F3F56;
}

.horizontal-icon {
    width: 35px; 
}



/* Estilos para el elemento "Saldo" en la parte inferior izquierda */
.balance-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 70px;
    color: white;
}

.user-text1 {
    position: absolute;
    bottom: 270px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    color: white;
    text-align: center;
}

/* Estilos para html movimientos de cuentas */

.logout-button-sup {
    position: fixed;
    top: 20px; 
    right: 65px;
    z-index: 1;
}

#logout-btn-sup {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #FF873D;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#logout-btn-sup:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}

/* Estilos para el botón "Menú Principal" y "Cerrar Sesión" en la esquina superior izquierda */
.menu-p-button {
    position: absolute;
    top: 20px;
    left: 20px; 
    z-index: 1;
}

#menu-p-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2F3F56;
    color: #ffffff;
    border: 2px solid #2F3F56;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#menu-p-btn:hover {
    background-color: #2F3F56;
    border-color: #ffffff;
}

.user-icon-white {
    width: 100px; 
    height: auto;
    position: fixed;
    top: 6%; 
    right: 300px;
    z-index: 1;
}

.divider {
    width: 2px;
    height: 50px; 
    background-color: white; 
    margin: 10px 10px;
    display: inline-block;
    vertical-align: middle;
    content: "";
}

.consultation-title {
    text-align: left;
    padding-top: 70px; 
    padding-left: 20px;
    color: #ffffff;
    border-bottom: 2px solid #FF873D; 
}

.consultation-title h1 {
    color: white;
    font-size: 30px;
}

/* Estilos para el formulario y la consulta de movimientos */

.search-form {
    margin-top: 20px;
    text-align: center;
}

.search-form label {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

.search-form input[type="radio"] {
    vertical-align: middle; 
}

.search-form input[type="date"] {
    font-size: 16px;
    padding: 5px;
}

.search-form button[type="submit"] {
    background-color: #FF873D;
    color: white;
    border: 2px solid #FF873D; 
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.search-form button[type="submit"]:hover {
    background-color: #2F3F56;
    border-color: #2F3F56;
}

.date-container {
    display: inline-block;
    margin-left: 20px;
}


/*ESTILOS DEL REGISTERUSER para el formulario de crear usuario y contrseña*/

.registerUser-background {
    margin:0;
    padding:0;
    background-image: url("../image/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.registerUser-titles{
    margin-top: 40px;
    margin-left: 200px;
}

.registerUser-container {
    text-align: center;
    margin-top: 25px;
    margin-left: 180px; 
    width: 400px;  
}


.registerUser-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 430px;
    margin-top: 2px;
}

/*estilo de la etiqueta*/

.form_label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-size: 20px;
}

/*estilos de las cajitas input*/

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

.group-form-input {
	position: relative;
}

/*estilo del mensaje de error y condiciones como debe crear cont*/

.form-input-error {
	font-size: 12px;
	margin-bottom: 2;
	display: none;
    text-align: left;
}

/*bloquear el mensaje para que aparesca solo cuando se llame*/

.form-input-error-activo {
	display: block;
}

/*dibujito del validar palomita*/

.form-valid {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/*estilo del mensaje:rellena....*/
.form-message {
    height: 45px;
	line-height: 45px;
	background: #f08888;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form-message-activo {
    display: block;
}

.form-message p {
    margin: 0;
}

/*estilo botones de crear cuenta y cancelar*/

#form-btn {
    margin-top: 20px;
    background-color: #FF873D;
    border-color: #FF873D;
}

#form-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

.group-form-btn.crearc {
    align-items: left;
}

.group-form-btn-cancel {
    align-items: right;
}

/*mensaje exitosamente*/

.form-message-exito {
    font-size: 14px;
	color: #119200;
	display: none;
}

.form-message-exito-activo {
    display: block;
}

/*estilos para validacion*/

.group-form-correct .form-valid{
    color: #1ed12d;
    opacity: 1;
}

.group-form-incorrect .form-valid{
    color:#bb2929;
    opacity: 1;
}

.group-form-incorrect .form-input{
    border: 3px solid #bb2929;
}
