/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.left-image {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    width: 500px;
}

.right-image {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    width: 500px;
}

a.large-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

a.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: #2F3F56;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


/* Estilos para el título */
.title {
    font-size: 80px;
    font-weight: bold;
}

.title img {
    vertical-align: middle;
}

/* Estilos para resaltar la palabra "Bank" */
.highlight {
    color: #FF873D;
}

/* Estilos para los botones "Registro", "Acceso" y "Menú" */
.buttons {
    display: flex;
    align-items: center;
}

.large-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;    
}

.large-btn img {
    display: inline-block; /* Hace que la imagen sea un elemento en línea */
    vertical-align: middle; /* Centra verticalmente la imagen */
    margin-right: 5px; /* Espacio entre el icono y el texto */
    width: 23px;
}



.large-btn:hover {
    background-color: #FF873D;
    color: white;
}

/* Estilos para el menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    background-color: #2F3F56;
    position: absolute;
    top: 120px;
    right: 30px;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.menu-item {
    padding: 5px 0;
    color: white;
    font-size: 30px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.menu-item:hover {
    color: #FF873D;
}

/* Estilos para mostrar el menú cuando se activa la clase "show-menu" */
.show-menu {
    display: flex;
}

.bottom-text {
    position: absolute;
    bottom: 30px;
    left: 45px;
    width: 35%;
    background-color: #FF873D;
    padding: 65px;
    text-align: center;
}

.highlight-text {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* Estilos para la página de inicio de sesión */

.login-background {
    margin: 0;
    padding: 0;
    background-image: url("../image/fondo2.png"); /* Ruta a tu nueva imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-left: 170px;
    
}

.login-container h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: -700px;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}


.login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
}

#login-btn {
    background-color: #FF873D;
    border-color: #FF873D;
}

#login-btn:hover {
    background-color: #FF6C00;
    border-color: #FF6C00;
}

/* Estilos para el enlace "¿Olvidaste o bloqueaste tu contraseña?" */
.login-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff873d6e;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.login-container a:hover {
    background-color: #ff6a00b0;
}





